*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
}
a, a:hover{
    text-decoration: none;
}

.header{
    width: 100%;
    background: #F0FFF0;
    padding-bottom: 30px;
}
.header .nav-item .btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    border: 1px solid #21B573
}
.header .nav-item .btn:hover, .header .nav-item .btn:focus{
    color: #21B573;
    background: #F0FFF0;
}

.header .nav-item{
    margin-left: 25px;
    margin-right: 25px;
    font-size: large;
}
.header .nav-item .nav-link:hover, .header .nav-item .nav-link:focus{
    color: #21B573;
}
.banner{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.banner h4{
    font-size: 20px;
    color: #FD511A;
}
.banner h1{
    font-size: 50px;
    line-height: 60px;
}
.banner h1 span{
    color: #21B573;
}

.banner .btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
}
.banner .btn:hover, .banner .btn:focus{
    color: #21B573;
    background: #F0FFF0;
}

/* feature section */
.feature-section{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.feature-section .inner-feature{
    width: 100%;
    background: #F8FFFB;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
}
.feature-section .inner-feature img{
width: 85px;
height: 90px;
}
.feature-section .inner-feature h3{
font-size: 20px;
font-weight: 500;
margin-top: 20px;
margin-bottom: 0px;
}
.feature-section .inner-feature p{
font-size: 14px;
margin-bottom: 0px;
margin-top: 5px;
}
.feature-section .inner-feature:hover{
    background: white;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);;
}

/* online-section */
.online-section{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.online-section h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.online-section .card{
    width: 100%;
    padding: 20px;
    background: #FFFFFF;
box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
border-radius: 18px;
}
.online-section .card .card-body{
    padding: 0px;
    margin-top: 10px;
}
.online-section .card-body .btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
}
.online-section .card-body .btn:hover, .online-section .card-body .btn:focus{
    color: #21B573;
    background: #F0FFF0;
}
.online-section .card p img{
    width: 16px;
    margin-right: 5px;
    margin-bottom: 2px;
}
.online-section .calendar{
    margin-top: 20px;
}
.online-section .people{
    margin-top: 20px;
    text-align: right;
}

/* testimonial start */
.testimonial-section{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.testimonial-section h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.testimonial-section img{
    width: 100px;
}
.testimonial-section .test-img{
    text-align: right;
}
.testimonial-section p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

/* footer start */
.footer{
    width: 100%;
    margin-top: 80px;
    background: #282531;
    padding-top: 40px;
}
.footer h4{
    color: white;
}
.footer .widget{
    padding: 0px;
}
.footer .widget li{
    list-style: none;
}
.footer .widget li a{
    color: white;
}
.footer p{
    color: white;
}
.footer .copyright{
    margin-bottom: 0px;
}
.footer .copyright strong{
    color: white;
}

/* Media Query */
/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  
    .banner h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .feature-section .inner-feature {
        width: 100%;
        background: #F8FFFB;
        border-radius: 10px;
        padding: 40px;
        text-align: center;
        margin-bottom: 30px;
    }
    .online-section .card {
        width: 100%;
        padding: 20px;
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgb(0 0 0 / 10%);
        border-radius: 18px;
        margin-bottom: 30px;
    }
    .testimonial-section .test-img {
        text-align: center;
        margin-bottom: 30px;
    }
    .testimonial-section p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
    }
    .footer .copyright {
        margin-bottom: 0px;
        text-align: center;
    }
    
  }

  /* Low Resolution Tablets, Mobiles (Landscape) */

@media (min-width: 481px) and (max-width: 767px) {
  
    .banner h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .feature-section .inner-feature {
        width: 100%;
        background: #F8FFFB;
        border-radius: 10px;
        padding: 40px;
        text-align: center;
        margin-bottom: 30px;
    }
    .online-section .card {
        width: 100%;
        padding: 20px;
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgb(0 0 0 / 10%);
        border-radius: 18px;
        margin-bottom: 30px;
    }
    .testimonial-section .test-img {
        text-align: center;
        margin-bottom: 30px;
    }
    .testimonial-section p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
    }
    .footer .copyright {
        margin-bottom: 0px;
        text-align: center;
    }
  
}

/* Tablets, Ipads (portrait) */

@media (min-width: 768px) and (max-width: 1024px) {

    .banner h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .feature-section .inner-feature {
        width: 100%;
        background: #F8FFFB;
        border-radius: 10px;
        padding: 40px;
        text-align: center;
        margin-bottom: 30px;
    }
    .online-section .card {
        width: 100%;
        padding: 20px;
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgb(0 0 0 / 10%);
        border-radius: 18px;
        margin-bottom: 30px;
    }
    .testimonial-section .test-img {
        text-align: center;
        margin-bottom: 30px;
    }
    .testimonial-section p {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        text-align: center;
    }
    .footer .copyright {
        margin-bottom: 0px;
        text-align: center;
    }

}

 /* Laptops, Desktops

@media (min-width: 1025px) and (max-width: 1280px) {

    .footer .copyright p {
        text-align: center;
        margin-bottom: 0px;}

} */